@inherits LayoutComponentBase

<head>
    <link href="..//css/navbarLoggedIn.css" rel="stylesheet" />
</head>

<div class="sidebar">
    <NavMenuLoggedIn />
</div>

<div class="main">
    <div class="content px-4">
        @Body
    </div>
</div>

<footer >
    <div>">References Anonymous Person: www.freepik.com</div>
</footer>