@inject betuapp.Client.States.AuthenticationState state
<div>
    <h1 style="color: white;">@name</h1>
    <img src="..//Logo/Logo_NoText.svg" style="height: 175px; vertical-align: middle;" />
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="mybets" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> MyBets
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="partners">
                <span class="oi oi-plus" aria-hidden="true"></span> Partners
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="account">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Account
            </NavLink>
        </li>
    </ul>
    <form action="/">
        <input type="submit" value="Sign Out" onclick="@Login" />
    </form>
</div>

@functions{
    string name;
    protected override void OnInit()
    {
        name = this.state.loggedInAccount.Username;
    }

    async Task Login()
    {
        this.state.Logout();
    }
}