@using Microsoft.AspNetCore.Components
@inject IUriHelper uriHelper
<header class="header">
    <img onclick=@ReloadPage src="..//Logo/Logo_OnlyText.svg" id="navLogo"/>
    <input class="menu-btn" type="checkbox" id="menu-btn" />
    <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
    <ul class="menu">
        <li><a href="/">Home</a></li>
        <li class="two"><a href="/about">About</a></li>
        <li class="three"><a href="/login">Sign In</a></li>
        <li class="four"><a href="/registration" id="SignUpButton">Sign Up</a></li>
    </ul>
</header>

@functions{
    async Task ReloadPage()
    {
        this.uriHelper.NavigateTo("/");
    }
}



