@inject betuapp.Client.States.AuthenticationState state
@inject IUriHelper uriHelper

<div>
    <p class="aligncenter">
        <img src="..//Logo/Logo_NoText.svg" style="height: 145px; width: 145px; margin-top: 30px" vertical-align: middle;" />
    </p>

    <ul>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="mybets" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> MyBets
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="partners">
                <span class="oi oi-plus" aria-hidden="true"></span> Partners
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="account">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Account
            </NavLink>
        </li>
    </ul>
    <p class="aligncenter">
        <form>
            <input type="submit" value="Sign Out" onclick=@Logout />
        </form>
    </p>


</div>

@functions{
    string name;
    protected override void OnInit()
    {
        name = this.state.loggedInAccount.Username;
    }

    async Task Logout()
    {
        this.state.Logout();
        this.uriHelper.NavigateTo("/");
    }
}