.center
{
    margin: 0 auto; width: auto;
}

.main-container-landing-page * {
    box-sizing: border-box;
}

.main-container-landing-page .header {
    text-align: center;
    padding: 32px;
}

.main-container-landing-page .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.main-container-landing-page .icon-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.main-container-landing-page .icon
{
    display: block;
    margin-left: 5px;
    margin-right: auto;
}

.main-container-landing-page .row .column {
    flex: 50%;
    max-width: 50%;
    padding: 0 4px;
}

video
{
    max-width: 100%;
    height: auto;
}

@media screen and (max-width: 800px) {
    .main-container-landing-page .row .column {
        flex: 50%;
        max-width: 50%;
    }
}

@media screen and (max-width: 600px) {
    .main-container-landing-page .row .column {
        flex: 100%;
        max-width: 100%;
    }

    .main-container-landing-page .icon
    {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .main-container-landing-page div.column p.icon
    {
        text-align: center;
    }
}