app {
    position: relative;
    display: flex;
    flex-direction: column;
}


.sidebar {
    background-color: gray;
}

.nav-item {
    padding-bottom: 0.5rem;
}

.nav-item a {
    line-height: 3rem;
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}



@media (max-width: 767.98px) {
    .main .top-row {
        display: none;
    }
}

@media (min-width: 768px) {
    app {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .main .top-row {
        position: sticky;
        top: 0;
    }

    .main > div {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }

    .navbar-toggler {
        display: none;
    }

    .sidebar .collapse {
        display: block;
    }
}

li {
    list-style-type: none;
}

ul {
    width: 100%;
}

.aligncenter {
    text-align: center;
}

.aligncenterbottom {
    text-align: center;
}

