.header {
    position: fixed;
    width: 100%;
    z-index: 3;
    background-color: white;
}

.header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
}

.header li a {
    display: block;
    padding: 20px 20px;
}

.header .logo {
    display: block;
    float: left;
    font-size: 2em;
    padding: 10px 20px;
    text-decoration: none;
}

.header .menu {
    clear: both;
    max-height: 0;
}

.header .menu-icon {
    float: right;
    padding: 28px 20px;
}

.header .menu-icon .navicon {
    display: block;
    height: 18px;
    position: relative;
    width: 18px;
    background-color: black;
}

.header .menu-btn {
    display: none;
}

.header .menu-btn:checked ~ .menu {
    max-height: 240px;
}          

@media (min-width: 52em) {
    .header li {
        float: left;
    }

        .header li a {
            padding: 30px 40px;
        }

    .header .menu {
        clear: none;
        float: right;
        max-height: none;
    }

    .header .menu-icon {
        display: none;
    }
}

.footer {
    position: relative;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}


#navLogo {
    vertical-align: middle;
    height: 50px;
    top: 20px;
    margin-left: 10px;
}