@page "/AccountCreated"
@using Microsoft.AspNetCore.Components.Layouts
@layout MainLayoutLoggedOut


<header>
    <link href="..//css/forms.css" rel="stylesheet" />
</header>

<h2 class="success">Your Account has successfully been created, you can now <a href="/login">sign in</a>!</h2>


