@page "/fetchdata"
@using betuapp.Shared
@inject HttpClient Http

<h1>All Bets</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (bets == null)
{
   
}

else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var bet in bets)
            {
                <tr>
                    <td>@bet.Name.</td>
                    <td>@bet.Description</td>
                </tr>
            }
        </tbody>
    </table>
}
@functions {
    Bet[] bets;

    protected override async Task OnInitAsync()
    {
        bets = await Http.GetJsonAsync<Bet[]>("api/BetData/Bets");
    }
}
