@page "/"
@using Microsoft.AspNetCore.Components.Layouts
@layout MainLayoutLoggedOut
@inject IUriHelper uriHelper
<head>
    <link href="..//css/landing.css" rel="stylesheet" />
</head>

<body>
    <div class="container">

        <div class="row">

            <div class="column-1">
                <img src="..//logo/Logo_NoText.svg" class="icon-logo" alt="icon from bet u" />
            </div>

            <div class="column-1">
                <img src="..//logo/Logo_OnlyText.svg" class="icon-text" alt="icon from bet u" />
                <br>
                <a>easy, accessbile</a>
                <br>
                <button onclick="@GetStarted">Get Started</button>
            </div>
        </div>

        <div class="row">
            <div class="column-1">
                <video autoplay="autoplay">
                    <source src="..//video/betU.mp4" />
                </video>
            </div>
        </div>
    </div>
</body>

@functions{
    async Task GetStarted()
    {
        this.uriHelper.NavigateTo("/registration");
    }

}
