@page "/"
@using Microsoft.AspNetCore.Components
@layout MainLayoutLoggedOut
@inject IUriHelper uriHelper

<head>
    <link href="..//css/landing.css" rel="stylesheet" />
</head>

<body>
    <div class="main-container-landing-page">
         <div class="row">

            <div class="column" style="text-align:center;">
                <img src="Logo/Logo_NoText.svg"/>
            </div>

            <div class="column">
                <img class="icon" src="Logo/Logo_OnlyText.svg"/>

                <p class="icon">easy, accessible</p>
                <button onclick="@GetStarted" class="icon">Get Started</button>
            </div>
            </div>

            <div class="row" style="margin-top: 100px; width: 100%; height: 50%;">
                <video class="center" controls autoplay>
                    <source src="..//video/betU.mp4" type="video/mp4">
                </video>
            </div>
        </div>

</body>

@functions{
    async Task GetStarted()
    {
        this.uriHelper.NavigateTo("/registration");
    }

}
