@page "/"
@using Microsoft.AspNetCore.Components.Layouts
@layout MainLayoutLoggedOut
@inject IUriHelper uriHelper
<head>
    <link href="..//css/landing.css" rel="stylesheet" />
</head>

<body>

   <div class="main-container-landing-page">
     <div class="row">
        <div class="column">
            <div class="icon-logo" style="background-color: #3a0647"></div>
        </div>

        <div class="column">

            <div class="icon-with-text" height="30%" style="background-color: aqua"></div>

            <p class="icon-with-text">easy, accessible</p>
            <button onclick="@GetStarted" class="icon-with-text">Get Started</button>
        </div>
        </div>
    </div>

    <div style="background-color: red; height: 30%; width: 100%; margin-right: 30px; margin-left: 30px">
        
    </div>

</body>

@functions{
    async Task GetStarted()
    {
        this.uriHelper.NavigateTo("/registration");
    }

}
