@page "/"
@using Microsoft.AspNetCore.Components.Layouts
@layout MainLayoutLoggedOut

<head>
    <link href="..//css/landing.css" rel="stylesheet"/>
</head>

<div class="container">

    <div class="flex1">
        <img src="..//logo/Logo_NoText.svg" class="iconLogo" alt="icon from bet u"/>
    </div>

    <div class="flex2">
        <img src="..//logo/Logo_OnlyText.svg" class="iconText" alt="icon from bet u"/>
        <br>
        <a>easy, accessbile</a>
        <br>
        <button onclick="window.location.href='/registration'">Get Started</button>
    </div>

    <div>
        <!-- ToDo add a video with autoplay and stuff !-->
    </div>
</div>

