@page "/"
@using Microsoft.AspNetCore.Components.Layouts
@layout MainLayoutLoggedOut
@inject IUriHelper uriHelper
<head>
    <link href="..//css/landing.css" rel="stylesheet" />
</head>

<body>

   <div class="main-container-landing-page">
     <div class="row">

        <div class="column">
            <svg class="svg-icon-logo" width="100%" height="180">
              <rect class="icon-logo" y="20" rx="20" ry="20" width="150" height="150" x="50" style="fill:red;stroke:black;stroke-width:5;opacity:0.5;"></rect>
            </svg>
        </div>

        <div class="column">

            <svg width="400" height="180">
              <rect class="icon-with-text" x="50" y="20" rx="20" ry="20" width="150" height="150" style="fill:blue;stroke:black;stroke-width:5;opacity:0.5"></rect>
            </svg>

            <p class="icon-with-text">easy, accessible</p>
            <button onclick="@GetStarted" class="icon-with-text">Get Started</button>
        </div>
        </div>
    </div>

</body>

@functions{
    async Task GetStarted()
    {
        this.uriHelper.NavigateTo("/registration");
    }

}
