@page "/"
@using Microsoft.AspNetCore.Components.Layouts
@layout MainLayoutLoggedOut
@inject IUriHelper uriHelper
<head>
    <link href="..//css/landing.css" rel="stylesheet" />
</head>

<body>

   <div class="main-container-landing-page">
     <div class="row">
        <div class="column">
            <img src="..//logo/Logo_NoText.svg" class="icon-logo" alt="icon from bet u" />
        </div>

        <div class="column">
            <img src="..//logo/Logo_OnlyText.svg"  class="icon-with-text" alt="icon from bet u" height="30%" />
            <p class="icon-with-text">easy, accessible</p>
            <button onclick="@GetStarted" class="icon-with-text">Get Started</button>
        </div>
        </div>
    </div>

</body>

@functions{
    async Task GetStarted()
    {
        this.uriHelper.NavigateTo("/registration");
    }

}
