@page "/login"
@using Microsoft.AspNetCore.Components.Layouts
@layout MainLayoutLoggedOut

<header>
    <link href="..//css/forms.css" rel="stylesheet" />
</header>

<body style="background-color: red;" class="form-style-6">
    <div class="form-style-6">
        <h1>Sign into your account</h1>
        <form>
            <input type="text" name="field1" placeholder="Username" />
            <input type="password" name="field2" placeholder="Password" />
            <input type="submit" value="Sign In" />
        </form>
    </div>
</body>