@page "/login"
@using Microsoft.AspNetCore.Components.Layouts
@layout MainLayoutLoggedOut

    <body style="background-color: yellow;">
        <form action="/mybets">
            Username:<br>
            <input type="text" name="username" value="mickey1999">
            <br>
            Password:<br>
            <input type="text" name="password" value="123">
            <br>
            <input type="submit" value="Submit">
        </form>
    </body>