@page "/registration"
@using Microsoft.AspNetCore.Components.Layouts
@layout MainLayoutLoggedOut

<header>
    <link href="..//css/forms.css" rel="stylesheet" />
</header>

<body style="background-color: red;" class="form-style-6">
    <div class="form-style-6">
        <h1>Create your free account</h1>
        <form>
            <input type="text" name="field1" placeholder="Firstname" />
            <input type="text" name="field2" placeholder="Lastname" />
            <input type="text" name="field2" placeholder="Username" />
            <input type="email" name="field2" placeholder="Email" />
            <input type="password" name="field2" placeholder="Password" />
            <input type="password" name="field2" placeholder="Password Confirmation" />
            <input type="submit" value="Sign Up" />
        </form>
    </div>
</body>