@page "/registration"
@using Microsoft.AspNetCore.Components.Layouts
@layout MainLayoutLoggedOut



    <body style="background-color: red;">
        <form action="/mybets">
            First name:<br>
            <input type="text" name="firstname" value="Mickey">
            <br>
            Last name:<br>
            <input type="text" name="lastname" value="Mouse">
            <br><br>
            Username:<br>
            <input type="text" name="username" value="mickey1999">
            <br>
            Email:<br>
            <input type="text" name="email" value="123@123.ch">
            <br>
            Password:<br>
            <input type="text" name="password" value="123">
            <br>
            Password Confirmation:<br>
            <input type="text" name="passwordconfirm" value="123">
            <br>
            <input type="submit" value="Submit">
        </form>
    </body>